<div em-key-navigation-container="keyNavigationOptions" data-em-key-navigation-selected="selected">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li ng-class="{'active': selected == 'home'}"><a ng-href="#" em-key-navigation="'home'">Home</a></li>
      <li ng-class="{'active': selected == 'about'}"><a ng-href="#" em-key-navigation="'about'">About</a></li>
      <li ng-class="{'active': selected == 'contact'}"><a ng-href="#" em-key-navigation="'contact'">Contact</a></li>
    </ul>
    <h3 class="text-muted">ngKeyNavigation</h3>
  </div>

  <div class="row">
    <a class="btn btn-lg col-md-4" ng-class="{'btn-success': selected === 'splendid'}" ng-href="#" em-key-navigation="'splendid'">Splendid!</a>
    <a class="btn btn-lg col-md-4" ng-class="{'btn-success': selected === 'happy'}" ng-href="#" em-key-navigation="'happy'">Happy!</a>
    <a class="btn btn-lg col-md-4" ng-class="{'btn-success': selected === 'wiii'}" ng-href="#" em-key-navigation="'wiii'">Wiiii!</a>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">Non navigable</div>
    <div class="row panel-body">
      <button class="btn btn-sm col-md-1" ng-repeat="key in keyboard[0]" ng-bind="key"></button>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Navigable</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1"></div>
        <button class="btn btn-sm col-md-1" ng-repeat="key in keyboard[1]" ng-class="{'btn-success': selected === key}" ng-bind="key" em-key-navigation="key"></button>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <button class="btn btn-sm col-md-1" ng-repeat="key in keyboard[2]" ng-class="{'btn-success': selected === key}" ng-bind="key" em-key-navigation="key"></button>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <button class="btn btn-sm col-md-1" ng-repeat="key in keyboard[3]" ng-class="{'btn-success': selected === key}" ng-bind="key" em-key-navigation="key"></button>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <button class="btn btn-sm col-md-5" ng-class="{'btn-success': selected === ' '}" em-key-navigation="' '">&nbsp;</button>
      </div>
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">Navigation overrides</div>
    <div class="panel-body">
      <div class="row">
        <button class="btn btn-sm col-md-1" ng-class="{'btn-success': selected === '1'}" em-key-navigation="'1'">1</button>
        <button class="btn btn-sm col-md-1 col-md-offset-10" ng-class="{'btn-success': selected === '2'}" em-key-navigation="'2'">2</button>
      </div>
      <div class="row">
        <input type="text" class="col-md-1 col-md-offset-5" ng-model="keyNavigationOptions.overrides.center.up"/>
      </div>
      <div class="row">
        <input type="text" class="col-md-1 col-md-offset-4" ng-model="keyNavigationOptions.overrides.center.left"/>
        <button class="btn btn-sm col-md-1" ng-class="{'btn-success': selected === 'center'}" em-key-navigation="'center'">Center</button>
        <input type="text" class="col-md-1" ng-model="keyNavigationOptions.overrides.center.right"/>
      </div>
      <div class="row">
        <input type="text" class="col-md-1 col-md-offset-5" ng-model="keyNavigationOptions.overrides.center.down"/>
      </div>
      <div class="row">
        <button class="btn btn-sm col-md-1" ng-class="{'btn-success': selected === '3'}" em-key-navigation="'3'">3</button>
        <button class="btn btn-sm col-md-1 col-md-offset-10" ng-class="{'btn-success': selected === '4'}" em-key-navigation="'4'">4</button>
      </div>
    </div>
  </div>
  <div class="well form-horizontal">
    <h2>Key Navigation Options</h2>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="keyNavigationOptions.cycle"></input> Should cycle after end is reached?
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="keyNavigationOptions.strictHorizontal"></input> Should navigate strictly those items at the same height?
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="keyNavigationOptions.strictVertical"></input> Should navigate strictly those items at the same column?
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="keyNavigationOptions.followMouse"></input> Should follow the mouse focus?
          </label>
        </div>
      </div>
    </div>
    <code>{{keyNavigationOptions}}</code>
    <hr/>
    <div class="form-group">
        <p>Currently selected item: <code>{{selected}}</code></p>
      </div>
    </div>
  </div>
</div>